
.vs/config/applicationhost.config
Gearstore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
.vs/config/applicationhost.config
Gearstore/obj/Debug/CoreCompileInputs.cache
Gearstore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.config
*.dll
*.pdb
*.dll
Gearstore/obj/Release/_WPPLastBuildInfo.txt
Gearstore/obj/Release/_WPPLastBuildInfo.txt
*.cache
Gearstore/obj/Release/CSAutoParameterize.parameters.xml
Gearstore/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Gearstore/obj/Release/Gearstore.csproj.FileListAbsolute.txt
*.Cache
*.dll
*.dll
*.Cache
Gearstore/bin/Gearstore.dll
Gearstore/bin/Gearstore.pdb
*.Cache
*.pdb
*.cache
*.cache
*.resources
*.pdb
.vs/Gearstore/v15/.suo
Gearstore/bin/Gearstore.dll
Gearstore/bin/Gearstore.pdb
