
.vs/config/applicationhost.config
Gearstore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
.vs/config/applicationhost.config
Gearstore/obj/Debug/CoreCompileInputs.cache
Gearstore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
